/* .navigation {
    height: 100px;
} */

/* .navbar {
    height: 100%;
} */

* {
    box-sizing: border-box;
}

header {
    height: 100vh;
}

.fb-page {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    height: 500px;
}

.facebook {
    position: fixed;
    top: 85vh;
    left: 0;
    z-index: 1;
}

.navbar {
    z-index: 1030;
}

.container .navbar-brand {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#navbarDropdown {
    text-transform: uppercase;
    font-size: 21px;
}

.nav-item {
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 0;
}

.dropdown-item {
    text-transform: uppercase;
}

.container .navbar-brand img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    /* object-fit: contain;
    max-width: 100%;
    max-height: 100%; */
}

.carousel-inner {
    height: 100%;
}

.carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 40px;
}

.carousel-inner .carousel-item .carousel-caption a {
    text-decoration: none;
}

.carousel-inner .carousel-item .carousel-caption a button {
    display: block;
    line-height: 250%;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 15px;
    font-weight: bold;
    width: 300px;
    margin: 0 auto;
    /* background-color: rgba(220, 53, 69, .7) */
}

.slider img {
    width: auto;
    height: calc(100vh - 100px);
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    opacity: .9;
    margin-top: 106px;
}

.slider .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.container .row .justify {
    text-align: justify;
    font-size: 20px;
}

main .container .row ul li {
    font-size: 20px;
}

.head {
    width: 100%;
    height: 80px;
    background-color: #0D6EFD;
    line-height: 80px;
    color: white;
    font-size: 26px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

/* .head:last-child {
    margin-top: 40px;
} */

.sponsorzy {
    border-bottom: 1px solid #eee;
    padding-bottom: 40px;
    margin-top: 40px;
}

.sponsorzy img {
    width: 60%;

}

.main-video {
    width: 100%;
}

.copyright {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #0D6EFD;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}


.avatar {
    opacity: .3;
    transition: .3s;
}



.avatar:hover {
    opacity: 1;
}

.scale {
    transition: .5s;
}

.scale:hover {
    transform: scale(1.25);
}

/* main .container {
    border: 10px solid red;
    margin-top: 50px;
} */